[submodule "django-docs-translations"]
	path = django-docs-translations
	url = git://github.com/django/django-docs-translations.git
[submodule "django"]
	path = django
	url = git://github.com/django/django.git
